In [1]:
import pandas as pd

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [3]:
def classification(row):
    if row <= 2:
        return "низкий рейтинг"
    if row <= 4:
        return "средний рейтинг"
    else:
        return "высокий рейтинг"

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
ratings['class'] = ratings['rating'].apply(classification)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток.
Результат классификации запишите в отдельный столбец region.

In [6]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

In [7]:
df_kw = pd.read_csv('Python_11_pandas_functions_groupby/keywords.csv')
df_kw.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [8]:
def geo(key_words):
    for region in geo_data:
        if key_words.lower() in geo_data[region]:
                return region
    return 'undefined'

In [9]:
df_kw['region'] = df_kw['keyword'].apply(geo)
df_kw[df_kw['region'] != 'undefined']

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток

### Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [47]:
rating = pd.read_csv('ml-latest-small/ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [48]:
movie = pd.read_csv('ml-latest-small/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [49]:
movie_rating = movie.merge(rating, on = 'movieId', how = 'inner').filter(items = ['movieId', 'title', 'rating'])
movie_rating.head()

   movieId             title  rating
0        1  Toy Story (1995)     3.0
1        1  Toy Story (1995)     4.0
2        1  Toy Story (1995)     5.0
3        1  Toy Story (1995)     2.0
4        1  Toy Story (1995)     3.0

In [50]:
years  = [i for i in range(1950, 2011)]

In [64]:
import re
def production_year(title):
    pattern = r'(\d{4})'
    year = re.findall(pattern, title)
    return year

In [65]:
movie_rating['year'] = movie_rating['title'].apply(production_year)
movie_rating.head()

   movieId             title  rating    year
0        1  Toy Story (1995)     3.0  [1995]
1        1  Toy Story (1995)     4.0  [1995]
2        1  Toy Story (1995)     5.0  [1995]
3        1  Toy Story (1995)     2.0  [1995]
4        1  Toy Story (1995)     3.0  [1995]

In [60]:
movie_rating = movie_rating[(movie_rating['year'] >= '1950') & (movie_rating['year'] <= '2010')]

TypeError: '>=' not supported between instances of 'list' and 'int'

In [61]:
avg_rating = movie_rating[['year', 'rating']]
avg_rating.groupby(['year']).mean().sort_values('rating', ascending=False)

TypeError: unhashable type: 'list'